
.main{
    width: 370px;
    margin: 0 auto;
    font-size: 1.1em;
}

#calculate{
    width: 70px;
    margin-left: 58px;
}
input,label{
    margin: 5px 0;
    padding-left: 5px;
}
span{
    color: red;
}
#width-msg,#height-msg{
    color: red;
    margin-left: 62px;
    font-size: 0.8em;
}